---
const {
    className = '',
    title = '',
    openInitially = false
} = Astro.props;

const initialHeight = openInitially ? '' : 'max-h-0 lg:max-h-1/1';

const generateRandomString = () => {
    const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    let result = '';
    for (let i = 0; i < 9; i++) {
        const randomIndex = Math.floor(Math.random() * chars.length);
        result += chars[randomIndex];
    }
    return `accordion-id-${result}`;
}

const randomId = generateRandomString();
---

<div data-accordion data-accordion-initially-open={openInitially} class=`accordion lg:w-auto lg:h-644 lg:flex ${className}`>

    <button data-accordion-button title={title} aria-controls={randomId} class="w-full py-20 cursor-pointer text-left text-25 leading-25 lg:text-36 lg:leading-36 lg:h-full relative lg:h-644 lg:w-98">
        <span class="relative block lg:-rotate-90 lg:w-644 lg:h-98 lg:leading-98 lg:whitespace-nowrap lg:absolute lg:bottom-0 lg:left-0 lg:origin-bottom-left lg:translate-x-98"><slot name="title"></slot></span>

        <span data-accordion-icon class=`transition-transform absolute top-20 right-14 lg:top-20 lg:left-35 lg:right-auto`></span>
    </button>

    <div data-accordion-content id={randomId} class=`${initialHeight} relative w-full lg:w-auto overflow-hidden transition-all ease-in-out`>
        <div class="pb-5 lg:h-1/1 lg:w-812">
            <slot/>
        </div>
    </div>
</div>

<script>
    import { lazyLoadWhenIdle } from '@scripts/utils/lazy-load-when-idle';
    lazyLoadWhenIdle(() => import('@scripts/partials/accordion.js'), {
        selector: '*[data-accordion]',
        rootMargin: '0px 0px 20% 0px',
        onLoad: ({ accordion }) => accordion?.init?.()
    });
</script>
