---
const {
    href = '',
    icon = '',
    className = '',
    target = '',
    ...props
} = Astro.props;

const buttonClass = `button inline-flex w-auto items-center justify-center py-10 px-40 bg-green text-center text-black text-16 leading-28 font-medium tracking-2 transition-all focus:bg-white active:bg-white hover:bg-white ${className}`;
let iconSVG = '';

if(icon === 'send'){
    iconSVG = `
        <svg class="mr-10" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 14 14">
            <path fill="currentColor" fill-rule="evenodd" d="M11.821.098a1.62 1.62 0 0 1 2.077 2.076l-3.574 10.712a1.62 1.62 0 0 1-1.168 1.069a1.599 1.599 0 0 1-1.52-.434l-1.918-1.909l-2.014 1.042a.5.5 0 0 1-.73-.457l.083-3.184l7.045-5.117a.625.625 0 1 0-.735-1.012L2.203 8.088l-1.73-1.73a1.6 1.6 0 0 1-.437-1.447a1.62 1.62 0 0 1 1.069-1.238h.003L11.82.097Z" clip-rule="evenodd"/>
        </svg>
    `;
} else if(icon === 'link'){
    iconSVG = `
    <svg class="mr-10" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
        <g class="open-in-new-tab-outline">
            <g fill="currentColor" fill-rule="evenodd" class="Vector" clip-rule="evenodd">
                <path d="M5 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-5.263a1 1 0 1 1 2 0V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h5.017a1 1 0 1 1 0 2z"/>
                <path d="M21.411 2.572a.963.963 0 0 1 0 1.36l-8.772 8.786a.96.96 0 0 1-1.358 0a.963.963 0 0 1 0-1.36l8.773-8.786a.96.96 0 0 1 1.357 0"/>
                <path d="M21.04 2c.53 0 .96.43.96.962V8c0 .531-.47 1-1 1s-1-.469-1-1V4h-4c-.53 0-1-.469-1-1s.43-1 .96-1z"/>
            </g>
        </g>
    </svg>
    `;
}
---
{href &&
    <a href={href} class={buttonClass} target={target} rel={target === '_blank' ? 'noopener noreferrer' : ''} {...props}>
        <Fragment set:html={iconSVG}/>
        <slot/>
    </a>
}
{!href &&
    <button class={buttonClass} type="button" {...props}>
        <Fragment set:html={iconSVG}/>
        <slot/>
    </button>
}