---
import Button from "@components/partials/Button.astro";
---

<!--
<section aria-label="Instagram">
    <div class="grid" style="display:grid;grid-template-columns:repeat(3,1fr);gap:12px;">
        {items.map((p) => (
                <a href={p.url} target="_blank" rel="noopener noreferrer" aria-label="Instagram Post">
                    <img src={p.src} alt={p.alt} loading="lazy" style="width:100%;height:auto;border-radius:12px;object-fit:cover;" />
                </a>
        ))}
    </div>
</section>
-->

<footer class="site-footer" id="kontakt" data-scroll-reveal>
    <div class="grid">
        <div class="col-span-6 lg:col-span-4">

            <div class="h2">Hast du ein Projekt im Sinn?</div>
            <figure class="post-1">
            </figure>
            <div class="post-2"></div>
            <div class="post-3"></div>
        </div>

    </div>
</footer>

<!--
<footer class="site-footer border-t-1 mt-200 pt-55 pb-120 lg:pt-70 lg:pb-12" id="kontakt" data-scroll-reveal>
    <div class="grid">
        <div class="col-span-12 lg:col-span-5 lg:col-start-2">
            <h2 class="h3 mb-15">Hast du ein Projekt im Sinn?</h2>
            <p>Ob Projektanfrage, Zusammenarbeit oder einfach nur ein Hallo - schreibe mit gerne eine Nachricht.</p>
        </div>
        <div class="col-span-12 lg:col-span-4 lg:col-start-8">
            <Button href=`mailto:${import.meta.env.PUBLIC_CONTACT_EMAIL}` className="!block -ml-10 !w-[calc(100%+20px)] my-20 lg:!ml-0 lg:!w-full">Nachricht an <br> <span class="inline underline">{import.meta.env.PUBLIC_CONTACT_EMAIL}</span> <br> schreiben</Button>
        </div>
    </div>
    <hr class="my-45 lg:my-65 lg:mb-10">
    <div class="grid text-center text-16">
        <nav class="col-span-6 lg:text-left">
            <ul class="flex justify-center lg:justify-start">
                <li class="mx-7 lg:ml-0">
                    <a class="inline-block leading-38" href="/impressum">Impressum</a>
                </li>
                <li class="mx-7 lg:mx-0">
                    <a class="inline-block leading-38" href="/datenschutz">Datenschutzrichtlinien</a>
                </li>
            </ul>
        </nav>
        <div class="col-span-6 mt-5 lg:text-right">
            © 2025 Marvin Schmidt Codes
        </div>
    </div>
</footer>
-->